
.DS_Store
Thumbs.db
desktop.ini

build/
bin/
out/
dist/
Debug/
Release/

cmake-build-debug/
cmake-build-debug-visual-studio/

CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
*.cmake

*.o
*.obj
*.so
*.dll
*.exe
*.out
*.a
*.lib

*.log

.vscode/
*.code-workspace

.idea/

.vs/
*.vcxproj*
*.sln
*.pdb
*.ilk

*.tmp
*.temp
*.swp
*~

.cache/